{% extends "index.html" %}
{% block title %}About | Pulse{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/about.css')}}">
<script src="{{ url_for('static',filename='js/about.js')}}"></script>
{% endblock %}
{% block main_header %}About{% endblock %}
{% block content %}
<div class="section ">
  <div class="section_title z-depth-1" onclick="hide_show('what_is_pulse')">
    What is <i>pulse</i>?
  </div>
  <div class="section_body" id="what_is_pulse">
    <blockquote>
      I am Flow Text
    </blockquote>
  </div>
</div>
<div class="section">
  <div class="section_title z-depth-1" onclick="hide_show('why_pneumonia')">
    Why fight pneumonia?
  </div>
  <div class="section_body" id="why_pneumonia">
    <blockquote>
      I am Flow TextI a<br>ds<br>ds<br>ds<br>ds<br>ds<br>ds<br>ds<br>ds<br>ds<br>
    </blockquote>
  </div>
</div>
<div class="section">
  <div class="section_title z-depth-1" onclick="hide_show('our_solution')">
    How are we fighting pneumonia?
  </div>
  <div class="section_body" id="our_solution">
    <blockquote>
      I am Flow Text
    </blockquote>
  </div>
</div>
<script>
  // hide_show('what_is_pulse');
  // hide_show('why_pneumonia');
  // hide_show('our_solution');
</script>
{% endblock %}
